body{
  margin: 0 auto;
  background: url('../img/ci.png') no-repeat;
  background-size: auto;
  font-family: 'Josefin Slab', serif;
}
  /*
======================================================

              HEADER TEXT

======================================================*/

#headingText {
  margin: 0 auto;
  text-align: center;
  line-height: 0.3em;
  color:#582A72;
  font-size: 5em;
  font-family: 'Roboto Slab', serif;
}

section img {
  margin-right: 0.5%; 
  height: 4%;
  width:auto; 
}
/*
======================================================

              SEARCH BAR

======================================================*/

#searchBar{
  margin: 0 auto;
  text-align: center;
  margin: 10% 0 23.5% 0;
  width: 100%;
}

#search, #submit{
  height: 2.9em;
  background:#582A72;
  position: relative;
  font-size: 1.3em;
  font-family: 'Julius Sans One', sans-serif;
}

#search{
  width: 40%;
  font-weight: lighter;
  border: 1px solid #dddddd;
}

#search:focus{
  background:#188bc4;
  color: black;
  border:1px solid #0f95d3;
}

#submit{
  width: 8%;
  border-radius: 2%;
  color: #0f95d3;
  border: 2px solid #dddddd;
}

#submit:hover{
  background:#188bc4;
  color: #e6e6e6;
  border: 2px solid #0f95d3;
  border-radius: 8px;
}

footer img{
  height: 5em;
  width: auto;
  margin: 0 auto;
  float: right;
  border: 3px solid #0f95d3;
  border-radius: 100%
}

/*
======================================================

              RESULT FORM

======================================================*/
ul li{
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  margin: 1em 1em auto 1em;
  color: #0f95d3;
  background:#582A72;
  border:1px solid #dddddd;
  font-family: 'Julius Sans One', sans-serif;
}
